* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    appearance: none;
}

img {
    user-select: none;
}
a {
    text-decoration: none;
}
body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    scrollbar-gutter: stable both-edges;
    background: #F9F4E9;
}
.body {
    max-width: 1024px;
    margin: auto;
}

header {
    width: calc(100% - 62px);
    display: flex;
    margin: 0 31px;
    border-bottom: 1px solid #F2ECDE;
}

.ava-contact {
    margin-top: 23px;
    margin-right: 76px;
}

.ava {
    margin-bottom: 12px;
}

.profile-ava {
    width: 168px;
    height: 168px;
    border: 7px solid #FFFFFF;
    border-radius: 105.778px;
}

.mustard-logo {
    width: 48px;
    height: 48px;
    position: absolute;
    z-index: 20;
}

.see-contact-info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    justify-content: center;

    display: flex;
    letter-spacing: 0.2px;
    color: #EB6C24;
    margin-bottom: 16px;
}

.name-about-social {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    width: calc(100% - 244px);
}

.name-about-follow {
    display: flex;
    width: 100%;
}

.name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #1D2023;
}
.location {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #77797B;

    margin-top: 8px;
}
.description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1D2023;

    margin-top: 4px;
}

.follow-buttons {
    display: flex;
    height: 48px;
    position: absolute;
    right: calc(100vw / 47);
    top: 10px;
}
.follow {
    width: 99px;
    height: 48px;
    background: #FF7A00;
    border-radius: 62px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    color: #FFFFFF;
    margin-right: 8px;
}
.share {
    width: 48px;
    height: 48px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    border-radius: 62px;
    padding: 12px 12px;
}

.social {
    display: flex;
    margin: 24px 0;
    width: 100%;
}
.social-info {
    width: 109.33px;
    height: 44px;
    background: #FFEED7;
    border: 1px solid #F2ECDE;
    box-sizing: border-box;
    border-radius: 50px;

    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #77797B;
}

main {
    width: calc(100% - 60px);
    display: flex;
    margin: 24px 29px 0 33px;
}

.left-column {
    width: 194px;
    margin-right: 48px;
}

.popular-recent label {
    display: flex;
    margin-bottom: 16px;
}

.popular-recent label .custom-radio {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid #C4C4C4;
    border-radius: 50%;
    margin-right: 1rem;
}
.popular-recent label input:checked~.custom-radio {
    background: white;
    border: 6px solid #FFAC39;
}

.type-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.4);
}
.type-text.selected {
    font-weight: 700;
    color: #000000;
}

.popular-recent {
    margin-bottom: 32px;
}

.categories {
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.categories .current-category {
    font-weight: 700;
    color: #000000;
}
.categories a, .categories p {
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
}

#right-column {
    margin-top: 4px;
    width: calc(100% - 194px);
}

.sort {
    margin-bottom: 16px;
}

.selected {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #1D2023;
}
#popup-dropdown {
    position: absolute;
    width: 180px;
    height: 112px;
    z-index: 20;
    background: #FFFFFF;
    box-shadow: 2px 5px 15px rgb(9 18 70 / 10%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.dropdown-elem {
    padding: 8px 24px;
    color: #1D2023;
}
a.dropdown-elem:hover{
    background: rgba(249, 244, 233, 0.5);
}

.feed {
    display: flex;
}
.column {
    width: calc((100% - 40px) / 3);
    display: flex;
    flex-direction: column;
}
.inner-column {
    margin: 0 20px;
}

.venue {
    margin-bottom: 12px;
}

.venue-cover {
    border-radius: 12px;
    width: 100%;
    height: 100%;
}

.venue-background {
    border-radius: 12px;
    z-index: 10;
    background: 
        linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 98.93%), 
        linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 24.42%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.venue-info {
    position: absolute;
    bottom: 0;
    z-index: 20;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    opacity: 0.7;
    margin: 0 12px 12px 12px;
}

.venue-name {
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
}

.popup {
    position: absolute;
    z-index: 30;
}

#popup-contact {
    width: 291px;
    height: 244px;
    left: 53px;
    top: 233px;
    filter: drop-shadow(2px 5px 15px rgba(9, 18, 70, 0.1));
}

#popup-contact .popup-beak {
    padding-left: 48px;
    height: 24px;
}

#popup-contact .popup-body {
    padding: 24px;
    height: 224px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #77797B;
    background: #FFFFFF;
    border-radius: 8px;
}

#popup-contact .popup-elem {
    display: flex;
    margin-top: 24px;
}

#popup-contact .popup-elem-text {
    margin: 0 12px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #1F3FFF;
}

#popup-share {
    /* width: 97;
    height: 63; */
    right: calc(100vw / 47 + 15px);
    top: 106px;
    filter: drop-shadow(0px 4px 8px rgba(8, 9, 40, 0.09));
}

#popup-share .popup-beak {
    padding-left: 53px;
    height: 11px;
}

#popup-share .popup-body {
    padding: 16px;
    height: 52;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.2px;
    background: #FFFFFF;
    border-radius: 12px;
}

#popup-share a {
    color: #1D2023;
}

#popup-mustard {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.popup-mustard {
    width: 440px;
    height: 737px;
    margin: 46px auto;
    background: #F9F4E9;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

#popup-mustard .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.popup-close {
    margin: 20px;
    right: 0;
    position: absolute;
}

.popup-mustard-logo {
    margin: 40px auto;
    width: 142px;
    height: 24px;
}

.popup-mustard-description {
    margin: 0 52px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21.0034px;
    line-height: 32px;
    text-align: center;
    color: #1D2023;
    /* border: 0.656357px solid #000000; */
}

.popup-mustard-app-store {
    margin: 48px auto 30px;
}

#right-column .empty {
    margin: 12px auto;
    width: 284px;
    height: 376px;
}

.empty .empty-img {
    padding: 0 40px;
    width: 100%;
}

.empty .empty-foodie {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1D2023;
    margin: 12px 0;
}

.empty .empty-follow {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #77797B;
}

.empty .empty-follow-foodie {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #EB6C24;
    margin: 10px auto;
}